@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.container {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}

.container h1, .container h2, .container h3, .container p {
  margin: 0;
}

.header {
  background-color: #87509c;
}

.header__wrap {
  height: 596px;
}

.header__top {
  display: grid;
  grid-template-columns: 190px 1fr;
  justify-items: end;
  height: 37px;
  padding-top: 57px;
  align-items: center;
  margin-bottom: 134px;
}

.header__logo {
  width: 118px;
  height: 37px;
}

.header__menu {
  height: 32px;
  margin-right: 40px;
}

.header__info {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header__text {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}

.header__btn {
  margin-top: 56px;
  background-color: #eb7d4b;
}

.wrap {
  width: 1160px;
  display: block;
  margin: 0 auto;
}

.logo {
  width: 118px;
}

.logo__link {
  display: block;
  height: 37px;
}

.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 32px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 7px;
  transition-property: background-color;
  transition-duration: 500ms;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  background-color: #643a79;
}

.btn {
  width: 293px;
  height: 70px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
}

.section__services {
  height: 747px;
  background-color: #17c2a4;
  margin: 0 auto;
}

.section__team {
  height: 914px;
  background-color: #e7f1f8;
}

.section__skills {
  height: 655px;
  background-color: #ffffff;
}

.section__portfolio {
  height: 1423px;
  background-color: #ffdd99;
}

.section__about {
  height: 894px;
  background-color: #d74680;
}

.section__touch {
  height: 819px;
  background-color: #3c5499;
}

.services__wrap {
  height: 520px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 280px 467px;
}

.services__top {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

.services__h1 {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 96px;
  position: relative;
}

.services__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.services__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 18px;
}

.services__bottom {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  column-gap: 80px;
}

.services__branding, .services__design, .services__development, .services__rocket {
  width: 200px;
}

.branding__topimage, .design__topimage, .development__topimage, .rocket__topimage {
  display: grid;
  justify-items: center;
  margin-bottom: 66px;
}

.branding__h1, .design__h1, .development__h1, .rocket__h1 {
  text-align: center;
  margin-bottom: 20px;
}

.branding__h1-bottom, .design__h1-bottom, .development__h1-bottom, .rocket__h1-bottom {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.branding__text-bottom, .design__text-bottom, .development__text-bottom, .rocket__text-bottom {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: center;
}

.team__wrap {
  height: 914px;
  background-color: #e7f1f8;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px 654px;
}

.team__top {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

.team__h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3c4761;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 96px;
  position: relative;
}

.team__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.team__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 18px;
}

.team__bottom {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  column-gap: 80px;
  margin-top: 36px;
}

.team__person1, .team__person2, .team__person3, .team__person4 {
  display: grid;
  justify-items: center;
}

.person1__top-image, .person2__top-image, .person3__top-image, .person4__top-image {
  margin-bottom: 38px;
}

.person1__h1, .person2__h1, .person3__h1, .person4__h1 {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #27283d;
  padding-bottom: 12px;
  text-align: center;
}

.person1__work, .person2__work, .person3__work, .person4__work {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #30bae7;
  text-align: center;
}

.person1__text, .person2__text, .person3__text, .person4__text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.person1__text-bottom, .person2__text-bottom, .person3__text-bottom, .person4__text-bottom {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
}

.person1__socials, .person2__socials, .person3__socials, .person4__socials {
  display: grid;
  column-gap: 12px;
  align-items: center;
}

.person1__socials, .person3__socials {
  grid-template-columns: repeat(4, 1fr);
}

.person2__socials, .person4__socials {
  grid-template-columns: repeat(3, 1fr);
}

.skills__wrap {
  height: 655px;
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 265px 390px;
}

.skills__top {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

.skills__h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3c4761;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.skills__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.skills__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.skills__bottom {
  display: grid;
  grid-template-columns: repeat(4, 186px);
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  column-gap: 94px;
  margin-top: 50px;
}

.skills__skill1, .skills__skill2, .skills__skill3, .skills__skill4 {
  margin-top: 9px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.skill1__topimage, .skill2__topimage, .skill3__topimage, .skill4__topimage {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.skill1__percents, .skill2__percents, .skill3__percents, .skill4__percents {
  font-size: 50px;
}

.skill1__h1, .skill2__h1, .skill3__h1, .skill4__h1 {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #3c4761;
  text-align: center;
}

.skill1__topimage {
  background: url(../images/skills/web_design.png) center no-repeat;
}

.skill2__topimage {
  background: url(../images/skills/html_css.png) center no-repeat;
}

.skill3__topimage {
  background: url(../images/skills/graphic_design.png) center no-repeat;
}

.skill4__topimage {
  background: url(../images/skills/UI_UX.png) center no-repeat;
}

.portfolio__wrap {
  height: 1423px;
  background-color: #ffdd99;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 800px 80px;
  color: #000;
}

.portfolio__top {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

.portfolio__h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3c4761;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.portfolio__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.portfolio__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio__parts {
  display: grid;
  grid-template-columns: repeat(4, 84px);
  column-gap: 10px;
  justify-content: center;
}

.portfolio__all, .portfolio__web, .portfolio__apps, .portfolio__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
}

.portfolio__all:hover, .portfolio__web:hover, .portfolio__apps:hover, .portfolio__icons:hover {
  background-color: #fff;
}

.portfolio__all-part, .portfolio__web-part, .portfolio__apps-part, .portfolio__icons-part {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #393939;
  text-transform: uppercase;
}

.portfolio__bottom {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 541px);
  grid-template-rows: repeat(2, 385px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 35px;
}

.portfolio__case1, .portfolio__case2, .portfolio__case3, .portfolio__case4 {
  height: 385px;
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  margin-top: 20px;
}

.portfolio__btn {
  margin-top: 94px;
  background-color: #17c2a4;
}

.case1__h1, .case2__h1, .case3__h1, .case4__h1 {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #393939;
  text-align: center;
}

.section__about {
  height: 894px;
  background-color: #d74680;
}

.section__top {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

.about__wrap {
  width: 1160px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 240px 1fr;
}

.about__h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.about__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.about__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.about__bottom {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: repeat(2, 300px);
  align-items: center;
  justify-items: center;
}

.about__client1, .about__client2, .about__client3, .about__client4 {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.client1__text, .client2__text, .client3__text, .client4__text {
  width: 340px;
  height: 180px;
}

.client1__text-bottom, .client2__text-bottom, .client3__text-bottom, .client4__text-bottom {
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}

.client1__name, .client2__name, .client3__name, .client4__name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.client1__work, .client2__work, .client3__work, .client4__work {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffdd99;
}

.touch {
  height: 819px;
  background-color: #3c5499;
}

.touch__wrap {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 240px 1fr;
  row-gap: 50px;
}

.touch__h1 {
  font-size: 41.3px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 94px;
  position: relative;
}

.touch__h1::after {
  content: '';
  display: inline-block;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: -26px;
}

.touch__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.touch__name {
  width: 414px;
  height: 56px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.touch__email {
  width: 414px;
  height: 56px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.touch__message {
  width: 860px;
  height: 200px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.touch__bottom {
  display: grid;
  grid-template-columns: 440px 440px;
  grid-template-rows: 86px 240px 150px;
  justify-items: center;
}

.touch__btn {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 20px;
}

.footer {
  height: 112px;
  background-color: #344b8e;
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu {
  width: 980px;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.footer__item {
  width: 130px;
  display: grid;
  justify-items: center;
  margin-right: 10px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #fff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 500ms;
}

.footer__link:hover {
  color: #30bae7;
}
/*# sourceMappingURL=style.css.map */