@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.container {
    max-width: 1440px;
    display: block;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
	color: #fff;	
	h1, h2, h3, p {
		margin: 0;
	}
}
.header {
    background-color: #87509c;
        &__wrap {
            height: 596px;            
        }
        &__top {			
			display: grid;
			grid-template-columns: 190px 1fr;
			justify-items: end;
			height: 37px;
			padding-top: 57px;
			align-items: center;
			margin-bottom: 134px;
		}
        &__logo {			
            width: 118px;
			height: 37px;			
        }
		&__menu {
			height: 32px;
			margin-right: 40px;
		}
		&__info {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			
		}
		&__text {			
			text-align: center;
			font-size: 42px;
			font-weight: 700;
			line-height: 48px;			
		}
		&__btn {
			margin-top: 56px;
			background-color: #eb7d4b;
		}
}
.wrap {
    width: 1160px;
	display:block;
	margin: 0 auto;
}
.logo {
	width: 118px;	
		&__link {
			display: block;
			height: 37px;
		}
}
.menu {
		&__list {
			margin-top: 0;
			margin-bottom: 0;
			display: flex;
			list-style: none;
			justify-content: center;
			align-items: center;
		}
		&__link {	
			display: flex;
			justify-content: center;
			align-items: center;
			width: 77px;
			height: 32px;	
			border-radius: 5px;	
			text-decoration: none;
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
			padding: 0 7px;	
			transition-property: background-color;
			transition-duration: 500ms;					
		}
		&__link:hover, &__link:focus, &__link:active {
			background-color:#643a79;
		} 
}
.btn {
	width: 293px;
	height: 70px;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	cursor: pointer;
}
.section {
		&__services {
			height: 747px;
			background-color:#17c2a4;
			margin: 0 auto;
		}
		&__team {
			height: 914px;
			background-color: #e7f1f8;
		}
		&__skills {
			height: 655px;
			background-color: #ffffff;
		}
		&__portfolio {
			height: 1423px;
			background-color: #ffdd99;
		}
		&__about {
			height: 894px;
			background-color: #d74680;
		}
		&__touch {
			height: 819px;
			background-color: #3c5499;
		}
}
.services {	
	&__wrap {
		height: 520px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 280px 467px;
		
	}
	&__top {
		display: grid;
		grid-template-columns: 1;
		align-items: center;									
	}
	&__h1 {
		font-size: 40px;
		line-height: 29px;
		font-weight: 700;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		display: flex;
		flex-flow: column;
		align-items:center;		
		text-align: center;
		padding-top: 96px;
		position: relative;
	}
	&__h1::after {
		content: '';
		display: inline-block;
		width: 87px;
		height: 4px;
		opacity: 0.14;
		background-color: #000000;
		text-align: center;
		position: absolute;
		bottom: -26px;
	}
	
	&__text {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 0.02em;
		text-align: center;
		padding-bottom: 18px;
	}

	&__bottom {
		margin-top: 40px;	
		display: grid;
		grid-template-columns: repeat(4, 200px);
		justify-content: center;
		justify-items: center;
		align-items: flex-start;
		column-gap: 80px;					
	}
	&__branding, &__design, &__development, &__rocket {
		width: 200px;
	}
}
.branding, .design, .development, .rocket {
	&__topimage {
		display: grid;
		justify-items: center;
		margin-bottom: 66px;			
	}
	&__h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	&__h1-bottom {
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
	}
	&__text-bottom {
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		text-align: center;
	}
}

.team {
		&__wrap {
			height: 914px;
			background-color: #e7f1f8;
			color: #000;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 260px 654px;
		}
		&__top {
			display: grid;
			grid-template-columns: 1;
			align-items: center;
		}
		&__h1 {
			font-size: 41.3px;
			line-height: 30px;
			font-weight: 700;
			letter-spacing: 0.1em;
			color: #3c4761;
			text-transform: uppercase;
			display: flex;
			flex-flow: column;
			align-items:center;		
			text-align: center;
			padding-top: 96px;
			position: relative;
		}
		&__h1::after {
			content: '';
			display: inline-block;
			width: 87px;
			height: 4px;
			opacity: 0.14;
			background-color: #000000;
			text-align: center;
			position: absolute;
			bottom: -26px;
		}
		&__text{
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			letter-spacing: 0.02em;
			text-align: center;
			padding-bottom: 18px;
		}
		&__bottom {
			display: grid;
			grid-template-columns: repeat(4, 200px);
			justify-content: center;
			justify-items: center;
			align-items: flex-start;
			column-gap: 80px;
			margin-top: 36px;			
		}
		&__person1, &__person2, &__person3, &__person4 {			
			display: grid;
			justify-items: center;
		}			
}
.person1, .person2, .person3, .person4 {
	&__top-image {
		margin-bottom: 38px;
	}
	&__h1 {
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #27283d;
		padding-bottom: 12px;
		text-align: center;
	}
	&__work {
		font-size: 16px;
		line-height: 18px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #30bae7;
		text-align: center;
	}
	&__text {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__text-bottom {
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #3c4761;
		text-align: center;
	}
	&__socials {
		display: grid;		
		column-gap: 12px;	
		align-items: center;	
	}
}

.person1, .person3 {
	&__socials {				
		grid-template-columns: repeat(4, 1fr);			
	}
}
.person2, .person4 {
	&__socials {				
		grid-template-columns: repeat(3, 1fr);			
	}
}

.skills {
		&__wrap {
			height: 655px;
			background-color: #fff;
			color: #000;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 265px 390px;
		}
		&__top {
			display: grid;
			grid-template-columns: 1;
			align-items: center;
		}
		&__h1 {
			font-size: 41.3px;
			line-height: 30px;
			font-weight: 700;
			letter-spacing: 0.1em;
			color: #3c4761;
			text-transform: uppercase;
			display: flex;
			flex-flow: column;
			align-items:center;		
			text-align: center;
			padding-top: 90px;
			position: relative;
		}
		&__h1::after {
			content: '';
			display: inline-block;
			width: 87px;
			height: 4px;
			opacity: 0.14;
			background-color: #000000;
			text-align: center;
			position: absolute;
			bottom: -26px;
		}
		&__text{
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			letter-spacing: 0.02em;
			text-align: center;			
		}
		&__bottom {
			display: grid;
			grid-template-columns: repeat(4, 186px);
			justify-content: center;
			justify-items: center;
			align-items: flex-start;
			column-gap: 94px;
			margin-top: 50px;
		}
		&__skill1, &__skill2, &__skill3, &__skill4 {			
			margin-top: 9px;
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
		}		
}
.skill1, .skill2, .skill3, .skill4 {
		&__topimage {	
			width: 160px;
			height: 160px;
			display: flex;
			justify-content: center;
			align-items: center;			
			margin-bottom: 30px;
		}
		&__percents {
			font-size: 50px;
		}
		&__h1 {
			font-size: 24px;
			line-height: 18px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			color: #3c4761;
			text-align: center;
		}
}
.skill1 {
	&__topimage{
		background: url(../images/skills/web_design.png) center no-repeat;
	}
}

.skill2 {
	&__topimage{
		background: url(../images/skills/html_css.png) center no-repeat;
	}
}

.skill3 {
	&__topimage{
		background: url(../images/skills/graphic_design.png) center no-repeat;
	}
}

.skill4 {
	&__topimage{
		background: url(../images/skills/UI_UX.png) center no-repeat;
	}
}

.portfolio {
	&__wrap {
		height: 1423px;
		background-color: #ffdd99;
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: 350px 800px 80px;
		color: #000;		
	}
	&__top {		
		display: grid;
		grid-template-columns: 1;
		align-items: center;
	}
	&__h1 {
		font-size: 41.3px;
		line-height: 30px;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #3c4761;
		text-transform: uppercase;
		display: flex;
		flex-flow: column;
		align-items:center;		
		text-align: center;
		padding-top: 90px;
		position: relative;
	}
	&__h1::after {
		content: '';
		display: inline-block;
		width: 87px;
		height: 4px;
		opacity: 0.14;
		background-color: #000000;
		text-align: center;
		position: absolute;
		bottom: -26px;
	}
	&__text {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 0.02em;
		text-align: center;	
	}
	&__parts {
		display: grid;
		grid-template-columns: repeat(4, 84px);
		column-gap: 10px;
		justify-content: center;
	}
	&__all, &__web, &__apps, &__icons {
		display: flex;
		justify-content: center;
		align-items: center;			
		height: 38px;
		background-color:  rgba(0, 0, 0, 0.14);
		border-radius: 4px;
		cursor: pointer;		
		transition-property: background-color;
		transition-duration: 500ms;
	}
	&__all:hover, &__web:hover, &__apps:hover, &__icons:hover{
		background-color: #fff;		
	}
	&__all-part, &__web-part, &__apps-part, &__icons-part {
		font-size: 18px;
		line-height: 19px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #393939;
		text-transform: uppercase;		
	}

	&__bottom {
		height: 800px;
		display: grid;
		grid-template-columns: repeat(2, 541px);
		grid-template-rows: repeat(2, 385px);
		justify-content: center;
		column-gap: 20px;
		row-gap: 35px;
	}
	&__case1, &__case2, &__case3, &__case4 {
		height: 385px;
		display: grid;
		grid-template-columns: 1;
		align-items: center;
		margin-top: 20px;
	}	
	&__btn {
		margin-top: 94px;
		background-color: #17c2a4;
	}
}
.case1, .case2, .case3, .case4 {
	&__h1 {
		font-size: 18px;
		line-height: 19px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #393939;
		text-align: center;		
	}
}

.section {
	&__about {
		height: 894px;
		background-color: #d74680;
	}
	&__top {
		display: grid;
		grid-template-columns: 1;
		align-items: center;
	}
}
.about {
	&__wrap {
		width: 1160px;
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: 240px 1fr;
	}
	&__h1 {
		font-size: 41.3px;
		line-height: 30px;
		font-weight: 700;
		letter-spacing: 0.1em;		
		text-transform: uppercase;
		display: flex;
		flex-flow: column;
		align-items:center;		
		text-align: center;
		padding-top: 90px;
		position: relative;
	}
	&__h1::after {
		content: '';
		display: inline-block;
		width: 87px;
		height: 4px;
		opacity: 0.14;
		background-color: #000000;
		text-align: center;
		position: absolute;
		bottom: -26px;
	}
	&__text {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 0.02em;
		text-align: center;	
	}
	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 550px);
		grid-template-rows: repeat(2, 300px);
		align-items: center;
		justify-items: center;
	}
	&__client1, &__client2, &__client3, &__client4 {
		width: 500px;
		height: 200px;
		display: flex;
		justify-content: space-around;
	}
}
.client1, .client2, .client3, .client4 {
	&__text {
		width: 340px;
		height: 180px;
	}
	&__text-bottom {
		font-size: 21px;
		line-height: 31px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: 0.02em;
		padding-bottom: 20px;
	}
	&__name {
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
	}
	&__work {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #ffdd99;
	}
}

.touch {
	height: 819px;
	background-color: #3c5499;
		&__wrap {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: 240px 1fr;
		row-gap: 50px;
		}
		&__h1 {
			font-size: 41.3px;
			line-height: 30px;
			font-weight: 700;
			letter-spacing: 0.1em;		
			text-transform: uppercase;
			display: flex;
			flex-flow: column;
			align-items:center;		
			text-align: center;
			padding-top: 94px;
			position: relative;
		}
		&__h1::after {
			content: '';
			display: inline-block;
			width: 87px;
			height: 4px;
			opacity: 0.14;
			background-color: #000000;
			text-align: center;
			position: absolute;
			bottom: -26px;
		}
		&__text {
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			letter-spacing: 0.02em;
			text-align: center;	
		}
		&__name {
			width: 414px;
			height: 56px;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		&__email {
			width: 414px;
			height: 56px;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		&__message {
			width: 860px;
			height: 200px; 
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}
		&__bottom {
			display: grid;
			grid-template-columns: 440px 440px;
			grid-template-rows: 86px 240px 150px;
			justify-items: center;
		}
		&__btn {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
			margin-top: 20px;
			background-color: #30BAE8;
		}
}
.footer {
	height: 112px;
	background-color: #344b8e;
	display: grid;
	justify-items: center;
	align-items: center;
		&__wrap {			
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__menu {
			width: 980px;
			display: flex;
			list-style: none;
			justify-content: center;
			padding: 0;
		}
		&__item {
			width: 130px;
			display: grid;
			justify-items: center;
			margin-right: 10px;
		}
		&__item:last-child {
			margin-right: 0;
		}	
		&__link {
			font-size: 24px;
			line-height: 29px;
			font-weight: 600;
			letter-spacing: 0.02em;
			color: #fff;
			text-decoration: none;
			transition-property: color;
			transition-duration: 500ms;			
		}
		&__link:hover {			
			color: #30bae7;			
		}
}
